<nav>

<figure class="nav-logo-container">
  <img class="dda-logo" src="/assets/Group1.svg" alt="DDA-logo">
</figure>

<div class="hamburger-menu-container">
  <span class="menu-stripe-1"></span>
  <span class="menu-stripe-2"></span>
  <span class="menu-stripe-3"></span>
</div>

<ul class="navbar-container">
  <li><a class="navbar-item" href="#true-experience" aria-current="page">true experience</a></li>
  <li><a class="navbar-item" href="#expertises">expertises</a></li>
  <li><a class="navbar-item" href="#inzichten">inzichten</a></li>
  <li><a class="navbar-item" href="#over-ons">over ons</a></li>
  <li><a class="navbar-item" href="#vacatures">vacatures</a></li>
  <li><a class="navbar-item" href="#contact">contact</a></li>
</ul>

</nav>