* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 1em;

  border-bottom: 2px solid var(--fonts-color-1);
}

.dda-logo {
  width: 5em;
  height: 4em;
}


.hamburger-menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border: 1.5px solid var(--fonts-color-1);
  padding: 0.9em;
}



.menu-stripe-1,
.menu-stripe-2,
.menu-stripe-3 {
  background-color: var(--fonts-color-1);
  height: 0.3em;
  width: 2.2em;
}

.navbar-container {
  display: none;
}

/* contentblok 2 */

.header {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 2px solid var(--fonts-color-1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

@supports (display: flex) {
  .hero-section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;

    cursor: pointer;

    &:hover {
      color: var(--button);
    }
  }
}

.hero-section-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.3em;

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}

.hero-section-paragraph {
  width: 18.5em;
  text-align: center;
}

/* contentblok 3 */

.event-cards-parent-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  border-bottom: 2px solid var(--fonts-color-1);

  display: grid;
  grid-template-columns: 20em;
  grid-template-rows: auto;
  column-gap: 1em;
  justify-content: center;
  align-items: center;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-child-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 2em;
  /* border-bottom: 2px solid black; */

}


@supports (display: flex) {
  .card-image-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 30em;
    width: 20em;
    justify-content: center;
    align-self: center;
  }

}

.card-image-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  height: 30em;
  width: 20em;
  justify-content: center;
  align-self: center;
}

.card-image {
  border: 2px solid var(--fonts-color-1);
  height: 25em;
  /* max-width: 100%; */
  width: 100%;
  object-fit: cover;
}

.image-caption {
  border: 1px solid var(--fonts-color-1);
  width: fit-content;
  padding: 0.2em;
}

@supports (display: flex) {
  .event-time-stamp {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
}

.event-time-stamp {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
}

.event-card-title {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  color: var(--button);
  padding-top: 3em;

  .arrow-logo {
    transform: rotate(180deg);
  }

  &:hover {
    color: var(--fonts-color-1);
  }
}

/* contentblok 4 */

.form-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  border-bottom: 2px solid var(--fonts-color-1);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.select-parent-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}







.select-container {
  position: relative;
  display: inline-block;
}

.select-button-1,
.select-button-2 {
  padding: 1em 5em 1em 1em;
  background-color: var(--background-color);
  border: 2px solid var(--fonts-color-1);
  color: var(--fonts-color-1);
  cursor: pointer;
  appearance: none;


  &:hover {
    color: var(--button);
  }
}

.select-container::after {
  content: "";
  border-left: none;
}

@supports (appearance: none) {
  .select-container::after {
    content: "+";
    font-size: 1.5em;
    font-weight: 50;
    font-family: "Archivo", sans-serif;
    color: var(--fonts-color-1);

    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;

    padding-left: 10px;
    border-left: 2px solid var(--fonts-color-1);
  }
}

/* .custom-plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  height: 93%;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0);
  border-top: 2px solid var(--fonts-color-1);
  border-left: 2px solid var(--fonts-color-1);
  border-right: 2px solid var(--fonts-color-1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* searchbar */
.input-bar-container {
  position: relative;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  pointer-events: none;
}

/* als er een focus op de input is of als de placeholder niet meer zichtbaar is wordt op de .label de css uitgevoerd */
.input-bar:focus+.label,
.input-bar:not(:placeholder-shown)+.label {
  transform: translateY(-25px);
  transition: transform 0.3s ease;
  color: black;
}


/* contentblok 5 */
.event-parent-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.event-card-child-container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--fonts-color-1);
}

.event-card-child-container > * {
  margin-bottom: 1em;
}

.event-card-child-container > * :last-child {
  margin-bottom: 0;
}

.event-card-child-container:last-child {
  border-bottom: none;
}

.caption {
  border: 1px solid var(--fonts-color-1);
  width: fit-content;
  padding: 0.2em;
}

.event-card-button {
  padding-bottom: 2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  color: var(--button);

  .event-card-button-icon {
    transform: rotate(180deg);
  }

  &:hover {
    color: var(--fonts-color-1);
  }
}

/* contentblok 6 load more events  */

.more-events-button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3em;

  border-bottom: 2px solid var(--fonts-color-1);
  border-top: 2px solid var(--fonts-color-1);
  color: var(--button);

  cursor: pointer;

  &:hover {
    color: var(--fonts-color-1);
  }
}

/* contentblok 7 passed events */

.passed-events-parent-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.already-passed {
  text-transform: uppercase;
  color: var(--button);
  font-weight: 500;
}

/* contentblok 8 keep updated for our events form with button */

.keep-updated-form-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
  border-bottom: 2px solid var(--fonts-color-1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  align-self: center;

  background-color: var(--background-color);
  border: 1px solid var(--fonts-color-1);
  width: 10em;
  height: 4em;

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}

/* contentblok 9 thank partner button */

.thank-partner-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2em;
  /* border-bottom: 2px solid var(--fonts-color-1); */
}

.thank-partner-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.thank-partner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--background-color);
  border: 1px solid var(--fonts-color-1);
  width: 12em;
  height: 4em;

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}

/* infinite scroll logos */

.partner-logo-container {
  width: 100vw;
  overflow: hidden;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.partner-logo {
  width: 6em;
  height: 5em;
  border: 1px solid var(--fonts-color-1);
  padding: 1em;
}

/* contenblok 10 logo met inloggen button */

.logo-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 3em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5em;
  border-bottom: 2px solid var(--fonts-color-1);
}

/* footer */

.footer-nav-items {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  border-bottom: 2px solid var(--fonts-color-1);
}

.navbar-item {
  border-bottom: 1px solid var(--fonts-color-1);

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}

.footer-adress {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5em;
  border-bottom: 2px solid var(--fonts-color-1);
}

.company-name {
  font-weight: 600;
}

.footer-contact-info a {
  border-bottom: 1px solid var(--fonts-color-1);

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}

.social-media-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5em;
  border-bottom: 2px solid var(--fonts-color-1);
}

.social-media {
  display: flex;
  gap: 1em;
}

.social-media-item a {
  border-bottom: 1px solid var(--fonts-color-1);

  cursor: pointer;

  &:hover {
    color: var(--button);
  }
}